@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Product_management.ModelView;

@model CreateProductModel





    <form action="Create" method="post" style="display: flex; flex-direction: column; gap : 10px">
        <div>
        <label style="min-width: 100px" class="w-10" asp-for="Name">Name</label>
        <input asp-for="Name" type="text" name="Name" />
    </div>

             <div>
        <label style="min-width: 100px" asp-for="Description">Description</label>
            <input asp-for="Description" type="text" name="Description" />
        </div>

         <div>
        <label style="min-width: 100px" asp-for="Price" for="Price">Price</label>
        <input asp-for=Price type="text" name="Price" />
        </div>
        <input name="CategoryIds[0]" type="text" value="1" /> 
        <input name="CategoryIds[1]" type="text" value="2" />
        <input name="CategoryIds[2]" type="text" value="3" />

    <input type="submit" name="submit" />
    @Html.AntiForgeryToken();
    </form>