@{
    ViewData["Title"] = "Home Page";
    var data = new int[] { 1, 2, 3, 4, 5 };
}

@model List<Order>

<div class="text-center">
    
    <h1 class="display-4">Welcome Model.CalculateTotalAmount</h1>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
